@using kafer_house.Helper
@using kafer_house.Extensions

@{
    var alerts = TempData.DeserializeAlerts(Alert.TempDataKey);
}

@foreach (var alert in alerts)
{
    var dismissableClass = alert.Dismissable ? "alert-dismissable" : null;
    <div data-notify="container" data-icon="fa fa-exclamation"
    role="alert" data-notify-position="top-center"
    class="col-11 col-sm-4 alert alert-@alert.AlertStyle @dismissableClass animated fadeInDown" id="alert">
    <span data-notify="icon" class="fa fa-check mr-1"></span>
       
        @if(alert.Dismissable)
        {
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        }
        @Html.Raw(alert.Message)
        
    </div>
}

<script type="text/javascript">
   
    window.setTimeout(function () {
    $("#alert").slideUp(500, function () {
        $(this).remove();
    });
    }, 4000);

</script>
