@model kafer_house.Models.ShoppingMall

<div class="bg-body-light">
  <div class="content content-full">
    <div
      class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center"
    >
      <h1 class="flex-sm-fill font-size-h2 font-w400 mt-2 mb-0 mb-sm-2">
        Shopping Mall
      </h1>
      <nav class="flex-sm-00-auto ml-sm-3" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">Tables</li>
          <li class="breadcrumb-item active" aria-current="page">Responsive</li>
        </ol>
      </nav>
    </div>
  </div>
</div>

<div class="content">
  <div class="block block-rounded block-bordered">
    <div class="block-header block-header-default">
      <h3 class="block-title">Create</h3>
    </div>
    <!--block-header block-header-default-->
    <div class="col-md-4">
      <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
          <label asp-for="name" class="control-label"></label>
          <input asp-for="name" class="form-control" />
          <span asp-validation-for="name" class="text-danger"></span>
        </div>
        <div class="form-group">
          <input type="submit" value="Create" class="btn btn-primary" />
        </div>
        <a asp-action="Index">Back to List</a>
      </form>
    </div>
  </div>
  <!--  block block-rounded block-bordered -->
</div>
<!--content-->

<!-- <h4>ShoppingMall</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div> -->
