@model kafer_house.Models.DeliveryReturn



<h4>DeliveryReturn</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="date" class="control-label"></label>
                <input asp-for="date" class="form-control" />
                <span asp-validation-for="date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="qty" class="control-label"></label>
                <input asp-for="qty" class="form-control" />
                <span asp-validation-for="qty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="status" class="control-label"></label>
                <input asp-for="status" class="form-control" />
                <span asp-validation-for="status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lotdate" class="control-label"></label>
                <input asp-for="lotdate" class="form-control" />
                <span asp-validation-for="lotdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Product Name</label>
                <select asp-for="productID" class ="form-control" asp-items="ViewBag.productName"></select>
            </div>
            <div class="form-group">
                <label>Shopping Mall Name</label>
                <select asp-for="shoppingmallID" class ="form-control" asp-items="ViewBag.shoppingmallName"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

