@model IEnumerable<kafer_house.Models.CartActualView>





     
    <h2>Shopping Cart</h2>

    <a href="/cartactual/create">new cart</a>     <!-- create a link to open view>cart>create.cshtml-->
    <hr>
    <div class="container">                 <!-- create a container to hold chart display -->
        <div id="chart1"></div>
    </div>
    <div class="container">                 <!-- create a container to hold date time picker div-->   
        <div class="row">
            <div class="col-4">
                Start Date: <input id="startDate" width="200" />
            </div>
            <div class="col-4">
                End Date: <input id="endDate" width="200" />
            </div>
            <div class="col-3">
                <br>
                <button class="btn btn-warning btn-block" id="cmd_select_date">select</button>
            </div>
        </div>
        <br>
    </div>
    <table class="table">                  <!-- create a table tab -->
        <tr>
            <td>cart Id</td>
            <td>Date</td>
            <td>Total</td>
            <td></td>
        </tr>

        <!-- loop through item in the Model , the Model contains a list of cartView objects --> 
        @foreach(var item in @Model){      
        <tr>
            <td>@item.Id</td>
            <td>@item.date</td>
            <td>@item.total</td>
            <td><a asp-action="edit" asp-route-id="@item.Id">view</a></td>
        </tr>
        }

    </table>